.navbar-header {
  background-color: $grey;

  .nav-link {
    text-transform: uppercase;

    &:hover {
      color: $color-secundario;
    }

    &:active,
    &:focus {
      color: $orange;
    }
  }
}
