.breadcrumb-header {
  background-color: $color-principal;

  .breadcrumb {
    background-color: $color-principal;
    margin-bottom: 0;

    &-link,
    &-item {
      text-transform: uppercase;
    }

    &-link {
      color: $white;
      &:hover {
        color: $color-secundario;
      }
    }
  }
}
