.services {
  .opportunities-banner {
    margin-top: 3rem;
  }

  .about-content {
    h2.content-picture-title {
      height: 20%;
      padding-top: 0%;
    }

    .content-picture {
      margin-bottom: 1rem;

      .about-why-background {
        @include media-breakpoint-up(sm) {
          height: 60%;
          top: 40%;
        }
        @include media-breakpoint-up(md) {
          height: 40%;
          top: 60%;
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    .about-content {
      h2.content-picture-title {
        height: 50%;
        padding-top: 35%;
      }

      p.content.picture-parrafo {
        height: 25%;
        margin-bottom: 0;
      }
    }
  }

  &-pictures {
    @include media-breakpoint-up(md) {
      justify-content: space-between;
    }
    justify-content: center;
  }
}

