.header {

  .navbar {
    background-color: $color-principal;
    justify-content: center;

    .navbar__button {
      border: 0;
      margin-right: 6rem;

      &:hover {
        color: $color-hover;
      }

      &:focus,
      &:visited {
        outline: none;
      }
    }

    .navbar__top {
      height: $height-navbar;
      margin-right: 6rem;
    }

    .nav-link,
    .navbar__button {
      color: $color-fonts;
    }

    .nav-link {
      line-height: ($height-navbar)-16px;
      &:hover {
        color: $color-hover;
      }
    }

    .navbar-brand {
      width: 10%;
      text-align: center;
      margin-right: 0;
      margin-left: 6rem;

      >img {
        width: 100%;
      }
    }

  }

}
