$height: 250px;

.home-footer {
  margin-top: 3rem;

  &-banner {
    height: $height;

    img {
      height: $height;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &-opacity {
    background-color: $background-color-transparent;
    height: $height;
    position: relative;
    z-index: 1;
  }

  &-contenido {
    font-weight: 300;
    height: $height;
    padding: 1rem;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    z-index: 2;
  }

  &-title {
    font-size: 1.2rem;
    @include media-breakpoint-up(lg) {
      font-size: 1.5rem;
    }
    @include media-breakpoint-up(xl) {
      font-size: 1.6rem;
    }
  }

  &-content {
    font-size: 80%;
    @include media-breakpoint-up(lg) {
      font-size: 90%;
    }
    @include media-breakpoint-up(xl) {
      font-size: 95%;
    }
  }
}
