.about {

  &-why-picture {
    @include media-breakpoint-up(md) {
      height: 500px;
      max-width: 360px;
      @include media-breakpoint-up(xl) {
        flex: 325px;
        max-width: 325px;
      }
    }

    .content-picture-contenido {
      background-color: $background-color-transparent;
      padding-left: 20px;
      padding-right: 0;
      width: 100%;

      .content-picture-title {
        font-size: 2rem;
        height: 40%;
        padding-left: 0;
        padding-right: 0;
        padding-top: 15%;
        @include media-breakpoint-up(sm) {
          height: 45%;
          padding-top: 20%;
        }
        @include media-breakpoint-up(md) {
          height: 60%;
          padding-top: 60%;
        }
      }

      .content-picture-parrafo {
        height: 30%;
        padding-left: 0;
        padding-right: 15px;
        @include media-breakpoint-up(sm) {
          height: 22%;
        }
        @include media-breakpoint-up(md) {
          margin-bottom: 20px;
        }
      }
    }
  }

  &-description {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  &-parrafo {
    color: $grey;
    text-align: justify;
  }

  &-why-background {
    background-color: $background-color-transparent;
    height: 62%;
    left: 0;
    position: absolute;
    top: 38%;
    width: 100%;
    z-index: 1;
    @include media-breakpoint-up(sm) {
      height: 52%;
      top: 48%;
    }
    @include media-breakpoint-up(md) {
      height: 40%;
      top: 60%;
    }
  }
}
