.home {

  &-header {
    position: relative;
  }

  &-picture {
    background-color: $color-principal;

    img {
      width: 100%;
    }

    &-contenido {
      background-color: $background-color-transparent;
      box-sizing: border-box;
      height: 100%;
      left: 0;
      padding-left: 25px;
      position: absolute;
      top: 0;
      width: 90%;
      z-index: 2;
      @media (min-width: 992px) {
        padding-left: 125px;
        width: 60%;
      }
    }

    &-title {
      font-size: 1.4rem;
      font-weight: bolder;
      margin-top: .4rem;
      text-transform: uppercase;
      @media (min-width: 992px) {
        font-size: 2.2rem;
        margin-top: 7rem;
      }
    }

    &-parrafo {
      font-size: 80%;
      @media (min-width: 992px) {
        font-size: 90%;
      }
    }


    &-boton {
      @extend %boton;
      margin-left: 15px;
    }
  }
}
