// Colores
$color-principal: #233b63;
$color-principal-rgb: rgb(35, 59, 99);
$color-secondario: #7f1625;
$color-secundario-rgb: rgb(127, 22, 37);
$white: #ffffff;
$color-hover: #bfbfbf;

$background-color: #e5e4e0;
$background-color-rgb: rgb(229, 228, 224);
$background-color-hover: #416093;
$background-color-hover-rgb: rgb(65, 96, 147);

$height-navbar: 100px;
