.about {

  &-description {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  &-parrafo {
    color: $grey;
    text-align: justify;
  }

  &-why-picture {
    @include media-breakpoint-up(md) {
      height: 500px;
      max-width: 360px;
    }
  }

  &-why-background {
    background-color: $background-color-transparent;
    height: 70%;
    left: 0;
    position: absolute;
    top: 30%;
    width: 100%;
    z-index: 1;
  }
}
