/*.img-fluid {
  width: 50%;
}*/

.content-opportunities {
  margin-bottom: 2rem;
  @include media-breakpoint-up(xl) {
    margin-left: 10%;
    width: 80%;
  }

  .content-picture:first-child {
    @include media-breakpoint-up(xl) {
      margin-right: 2rem;
    }
  }
}
