.team-principal {
  margin-bottom: 3rem;
  @include media-breakpoint-up(lg) {
    height: 400px;
  }
  @include media-breakpoint-up(xl) {
    height: 450px;
  }

  &-avatar {
    margin-bottom: 3rem;
    max-height: 425px;
    max-width: 400px;
    text-align: center;
    @include media-breakpoint-up(xl) {
      height: 450px;
      order: 2;
    }

    img {
      height: 100%;
      width: 100%;
      @include media-breakpoint-up(xl) {
        height: 450px;
      }
    }
  }

  &-inner-container {
    .red-social {
      border: 1px solid $color-secundario;
      color: $color-secundario;
      display: inline-block;
      height: 35px;
      line-height: 35px;
      text-align: center;
      width: 35px;

      &:hover {
        background-color: $color-secundario;
        border-color: $color-secundario;
        color: $white;
      }

      &.linkedin {
        margin-right: .7rem;
      }

      i {
        font-size: 1.2rem;
      }
    }
  }

  &-title {
    color: $color-principal;
    font-weight: 700;
    text-transform: uppercase;
  }

  &-bio {
    color: $grey;
    margin-top: 2rem;
  }

  &-boton {
    @extend %boton;
    border-color: $color-principal;
    color: $color-principal !important;

    &:hover {
      color: $white !important;
    }
  }
}

.team-staff {
  @include media-breakpoint-up(xl) {
    height: 450px;
  }

  &-item {
    margin-right: 5px;
    margin-bottom: 5px;
    max-height: 225px;
    max-width: 175px;

    img {
      height: 100%;
      width: 100%;
      @include media-breakpoint-up(xl) {
        height: 220px;
      }
    }

    .staff-miembro {
      position: relative;
      top: -45px;

      &-nombre,
      &-cargo {
        display: block;
        padding: 2px 0 2px 5px;
      }

      &-nombre {
        background-color: $color-principal;
        font-size: 90%;
        text-transform: uppercase;
      }

      &-cargo {
        background-color: $color-secundario;
        font-size: 75%;
      }
    }
  }
}
