.opportunities-carousel-mobile {
  .content-picture {
    margin-bottom: 2rem;
  }
}

.opportunities-carousel {
  @include media-breakpoint-up(md) {
    justify-content: space-between;
  }
  justify-content: center;
}
