.header {

  .navbar {
    background-color: $color-principal;
    justify-content: center;
    padding: 0;

    &-button {
      border: 0;
      margin-right: 6rem;

      &:hover {
        color: $color-hover;
        cursor: pointer;
      }

      &:focus,
      &:visited {
        outline: none;
      }
    }

    &-top {
      transition: all 1s ease;
      @include media-breakpoint-up(lg) {
        margin-right: 6rem;
      }
    }

    .nav-link,
    .navbar-button {
      color: $white;
    }

    .nav-link {
      line-height: ($height-navbar)-16px;
      padding: .5rem 1rem;
      text-transform: uppercase;

      &:active,
      &:focus,
      &:hover {
        color: $color-secundario;
        text-decoration: underline;
      }
    }

    &-brand {
      margin-left: 6rem;
      margin-right: 0;
      padding: 0;
      text-align: center;
      width: 10%;

      >img {
        height: $height-navbar;
      }
    }
  }
}
