.about-why-container-picture {
  @include media-breakpoint-up(lg) {
    margin-left: 3rem;
  }
}

.about-why-picture {

  &-container {
    height: 100%;
    position: absolute;
    width: 80%;
    z-index: 1;

    .content-picture {
      &-title {
        font-size: xx-large;
        top: 2.5rem;
      }

      &-parrafo {
        top: 1rem;
      }
    }
  }

  &-bgtransparent {
    background-color: $background-color-transparent;
    height: 50%;
    position: absolute;
    top: 50%;
    width: 100%;
  }

  &-icon {
    border: 1px solid;
    border-radius: 50%;
    height: 36px;
    margin-left: 1.5rem;
    max-width: 36px;
    text-align: center;

    >i.fa-envelope-o {
      font-size: 20px;
      line-height: 32px;
    }
  }
}