@charset 'UTF-8';

@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/font-awesome/scss/font-awesome';
@import './styles/utils/variables';
@import './styles/base/base';
@import './styles/vendros/**';
@import './components/**/**';
@import './homepage/**/**';
@import './about/**/**';
@import './why/**/**';
@import './differences/**/**';
@import './community/**/**';
@import './team/**/**';
@import './careers/**/**';
