.study {

  &-video {
    margin-bottom: 2rem;
    @include media-breakpoint-up(md) {
      margin: 1rem;
    }
    @include media-breakpoint-up(xl) {
      flex: 0 0 22%;
      margin: .5%;
      max-width: 22%;
    }
  }

  &-boton {
    @extend %boton;
    border-color: $color-principal;
    color: $color-principal;
    margin-top: 2rem;

    a {
      color: $color-principal;
    }

    &:hover {
      a {
        color: $white;
      }
    }
  }
}
