.footer {
  background-color: $color-principal;

  &-image {
    width: 100px;
  }

  &-contenido,
  &-boton {
    font-size: 80%;
    font-weight: 300;
    @media (min-width: 992px) {
      font-size: 100%;
    }
  }

  &-contenido {
    margin: 0;
    padding: 0;
  }

  &-boton {
    background-color: transparent;
    border: solid 1px $white;
    color: $white;
    @media (min-width: 992px) {
      padding: .5rem 2rem;
    }
  }

}
