.footer {
  background-color: $color-principal;
  padding-bottom: 3rem;

  &-image {
    width: 100px;
  }

  &-content {
    border: 1px solid $color-secundario;
  }

  &-logo {
    padding-left: 0;
  }

  &-contenido,
  &-boton {
    font-size: 80%;
    font-weight: 300;
    @media (min-width: 992px) {
      font-size: 100%;
    }
  }

  &-contenido {
    margin: 0;
    padding: 0;
  }

  &-boton {
    background-color: transparent;
    border: solid 1px $white;
    color: $white;
    @media (min-width: 992px) {
      padding: .5rem 2rem;
    }
  }

  &-form {
    margin: 3rem 0;
    text-align: center;

    form {
      input[type='email'] {
        background-color: transparent;
        border-color: $white;
        border-radius: 0;
        box-sizing: border-box;
        color: $white;
      }

      button[type='submit'] {
        background-color: $color-secundario;
        border-color: $color-secundario;
        border-radius: 0;
        color: $white;
      }

      @extend %placeholder
    }

    .form-group {
      margin: 0;
      padding: 0;
      width: 100%;
    }
  }

  &-menu {
    .nav-link {
      color: $white;

      &:hover {
        color: $color-hover;
      }
    }
  }
}
